language: php

php:
  - 5.4
  - 5.5

before_script:
  - composer self-update
  - composer --dev install

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls